<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>** star **</title>
<link rel="stylesheet" type="text/css" href="resources/myLib/star.css" >
<script src="resources/myLib/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="star-box">
  <span class="star star_left"></span>
  <span class="star star_right"></span>

  <span class="star star_left"></span>
  <span class="star star_right"></span>

  <span class="star star_left"></span>
  <span class="star star_right"></span>

 <span class="star star_left"></span>
 <span class="star star_right"></span>

 <span class="star star_left"></span>
 <span class="star star_right"></span>
</div>
<script>
	  $(".star").on('click',function(){
	   var idx = $(this).index();
	$("#brating").val(idx);
	$(".star").removeClass("on");
	    for(var i=0; i<=idx; i++){
	        $(".star").eq(i).addClass("on");
	   }
	});
</script>
</body>
</html>