<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>** star **</title>
<link rel="stylesheet" type="text/css" href="resources/myLib/star.css" >
<script src="resources/myLib/jquery-3.2.1.min.js"></script>
<script src="resources/myLib/star.js"></script>
</head>
<body>
<div class="star-box">
  <span class="star star_left"></span>
  <span class="star star_right"></span>

  <span class="star star_left"></span>
  <span class="star star_right"></span>

  <span class="star star_left"></span>
  <span class="star star_right"></span>

 <span class="star star_left"></span>
 <span class="star star_right"></span>

 <span class="star star_left"></span>
 <span class="star star_right"></span>
</div>
</body>
</html>