/*
body {background-color: LightCyan;}
xmp {margin-left: 30px; font-size: 10pt;}
h2 {font-size: 30pt; color: maroon;}
h2 에도 스타일(글자크기 등)은 적용됨 */  

/* Link Button */
.button {
	width:140px; height:70px; background-color:aqua;
	border-radius:20px; border:5px solid lightgray;
	text-align:center; 
	}
a {color:gray; text-decoration:none; font-weight:bold;}	
a:hover { color:lightBlue; font-size: 1.2em; } 
a:active { color:seagreen; } 

/* Error Message */
.eMessage { color: red;
			font-size: x-small;
			font-style: italic; 
			}      
			
/*  Check  List searchBar */
#searchBar {
   color:DimGray ; font-family:돋움; font-size:16px;
   float: left;
}

/* Link Span */
.textLink { color: Blue; font-weight:bold; }

/* axBoardList의 Test3. board jsonView Test */
.content { color: gray; }
#content { display: none;
		   width: 300px;
		   height: 70px;
		   background: LightGoldenRodYellow ;
		   z-index: 100;
		   position: absolute;
			}
			.input-box { position:relative; 
			 margin:10px 0; 
			}